    /*=============================================
Home
=============================================*/
    
    .about {
        background-image: url('../img/about_bg-d.jpg');
        background-size: cover;
        background-position: left;
        &__article {
            font-size: 1.4em;
        }
        &__skills {
            font-size: 3em;
            padding-top: 1.5em;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .icon {
                margin: 0.3em 0.1em;
            }
        }
    }
    
    .about__icon {
        width: 3em;
        height: 3em;
    }
    
    .learning {
        background: #ededed;
        &__stage {
            font-size: 1.2em;
            text-align: center;
            &__list {
                list-style: none;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: stretch;
                li {
                    padding: 0.3em 0.6em;
                    border: 1px solid $brand-color-1;
                    margin: 0.2em 0.2em;
                    flex: 1 auto;
                    transition: 0.3s;
                    &:hover {
                        border: 1px solid $brand-color-1;
                        color: #fff;
                        background: $brand-color-1;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    
    .portfolio {
        padding-top: 2em;
        &__container {
            display: flex;
            justify-content: stretch;
            flex-wrap: wrap;
            margin-top: 3em;
        }
        &__description {
            text-align: center;
            font-size: 1.4em;
        }
        .btn {
            margin: 3em auto 0;
            display: block;
            font-size: 1.5em;
        }
        button {
            display: table-cell;
            vertical-align: top;
        }
        &__element {
            margin-bottom: 1em;
            transition: 2s;
            font-size: 1.5em;
            height: 10em;
            flex: 1 12em;
            position: relative;
            overflow: hidden;
            opacity: 1;
            .icons {
                width: 100%;
                padding-left: 0;
                list-style: none;
                position: absolute;
                bottom: -5em;
                transition: 0.5s;
                text-align: center;
                li {
                    display: inline-block;
                }
            }
            &.is-display-none {
                height: 0;
                display: block;
                opacity: 0;
                flex: none;
            }
            .title {
                color: #ffffff;
                width: 100%;
                position: absolute;
                top: -5em;
                transition: 0.5s;
                text-align: center;
                a {
                    color: #ffffff;
                }
            }
            &:before {
                transition: 0.3s;
                transition: 0.5s;
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                background: rgba(44, 12, 17, 0);
            }
            &:hover .icons {
                bottom: 0;
                transition: 0.5s;
            }
            &:hover .title {
                top: 0;
                transition: 0.5s;
            }
            &:hover:before {
                background: rgba(89, 161, 62, 0.8);
            }
            &--swimming {
                background: url('../img/projects/swimming/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--dentysta {
                background: url('../img/projects/dentysta/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--boilerplate {
                background: url('../img/projects/boilerplate/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--aframe {
                background: url('../img/projects/aframe/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--landing {
                background: url('../img/projects/landing/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--nutricus {
                background: url('../img/projects/nutricus/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--panelnutricus {
                background: url('../img/projects/panelnutricus/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--athlestat {
                background: url('../img/projects/athlestat/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--dermashop {
                background: url('../img/projects/dermashop/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--ubezpieczenia {
                background: url('../img/projects/ubezpieczenia/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--starachowicka {
                background: url('../img/projects/starachowicka/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--magazynpoc {
                background: url('../img/projects/magazynpoc/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--klucze {
                background: url('../img/projects/klucze/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--aiesec {
                background: url('../img/projects/aiesec/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--promoplatform {
                background: url('../img/projects/promoplatform/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--regaly {
                background: url('../img/projects/regaly/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
        }
    }
    
    @keyframes phone__speaker {
        0% {
            width: 0;
            font-size: 1rem;
        }
        80% {
            width: 0;
        }
        100% {
            width: 4em;
        }
    }
    
    @keyframes phone__button {
        0% {
            width: 0;
            z-index: -1;
        }
        80% {
            width: 0;
            z-index: -1;
        }
        100% {
            z-index: 1;
        }
    }
    
    @keyframes desktop__footer {
        0% {
            bottom: 0em;
        }
        100% {
            bottom: -6em;
        }
    }
    
    @keyframes desktop__screen {
        0% {
            opacity: 0;
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    @keyframes phone__screen {
        0% {
            opacity: 0;
            height: 25em;
        }
        80% {
            height: 20em;
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    .realization {
        padding-top: 2em;
        .learning__stage__list {
            font-size: 1.2em;
        }
        .section__title {
            margin: 0 0 0.5em;
        }
        p {
            font-size: 1.2em;
        }
        &__header {
            text-align: center;
            padding: 1em;
        }
        &__switcher {
            cursor: pointer;
            max-width: 8em;
            margin: 0 auto 2em;
            display: block;
            &__phone {
                fill: #cccccc;
                &.is-active {
                    fill: $brand-color-2;
                }
            }
            &__desktop {
                fill: #cccccc;
                &.is-active {
                    fill: $brand-color-2;
                }
            }
        }
        &.is-aframe {
            .screen {
                transform: rotate(90deg);
            }
        }
    }
    
    .screen {
        min-height: 10em;
        background: #242426;
        font-size: 0.5em;
        @include rwd(small) {
            font-size: 0.7em;
        }
        @include rwd(medium) {
            font-size: 1em;
        }
        transition: 2s;
        border: 2em solid #3c3c3e;
        border-radius: 1em;
        margin: 0 auto 6em;
        position: relative;
        max-width: 100%;
        .phone__screen {
            display: none;
        }
        .desktop__screen {
            display: block;
            animation-name: desktop__screen;
            animation-duration: 2s;
        }
        &:before,
        &:after {
            animation-name: desktop__footer;
            animation-duration: 2s;
            opacity: 1;
            font-size: 1em;
            z-index: -1;
            content: "";
            display: block;
            position: absolute;
            bottom: -6em;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            width: 10em;
            height: 4em;
            background: #bebfc1;
        }
        &:after {
            width: 15em;
            height: 0.8em;
            background: #d3d4d6;
        }
        &.is-phone {
            min-height: 20em;
            font-size: 1em;
            border-top: 3em;
            border-bottom: 3.5em;
            border-left: 0.7em;
            border-right: 0.7em;
            border-color: #3c3c3e;
            border-style: solid;
            border-radius: 1em;
            max-width: 13em;
            &:before {
                animation-name: phone__speaker;
                animation-duration: 2s;
                width: 4em;
                height: 0.2em;
                background: #232731;
                z-index: 1;
                top: -1.7em;
            }
            &:after {
                animation-name: phone__button;
                animation-duration: 2s;
                width: 2em;
                height: 2em;
                border-radius: 50%;
                background: #505053;
                bottom: -2.7em;
                z-index: 1;
            }
            .phone__screen {
                display: block;
                animation-name: phone__screen;
                animation-duration: 2.5s;
            }
            .desktop__screen {
                display: none;
            }
        }
    }