    /*=============================================
Home
=============================================*/
    
    .about {
        background-image: url('../img/about_bg-d.jpg');
        background-size: cover;
        background-position: left;
        &__article {
            font-size: 1.4em;
        }
        &__skills {
            font-size: 3em;
            padding-top: 1.5em;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .icon {
                margin: 0.3em 0.1em;
            }
        }
    }
    
    .about__icon {
        width: 3em;
        height: 3em;
    }
    
    .learning {
        background: linear-gradient(to top, #ededed, #ffffff);
        &__stage {
            font-size: 1.2em;
            text-align: center;
            &__list {
                list-style: none;
                padding-left: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: stretch;
                li {
                    padding: 0.3em 0.6em;
                    border: 1px solid $brand-color-1;
                    margin: 0.2em 0.2em;
                    flex: 1 auto;
                    transition: 0.3s;
                    &:hover {
                        border: 1px solid $brand-color-1;
                        color: #fff;
                        background: $brand-color-1;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
    
    .portfolio {
        &__container {
            display: flex;
            justify-content: stretch;
            flex-wrap: wrap;
        }
        .btn {
            margin: 3em auto;
            display: block;
            font-size: 1.5em;
        }
        &__element {
            font-size: 1.5em;
            height: 10em;
            flex: 1 12em;
            position: relative;
            overflow: hidden;
            .icons {
                width: 100%;
                padding-left: 0;
                list-style: none;
                position: absolute;
                bottom: -5em;
                transition: 0.5s;
                text-align: center;
                li {
                    display: inline-block;
                }
            }
            .title {
                color: #ffffff;
                width: 100%;
                position: absolute;
                top: -5em;
                transition: 0.5s;
                text-align: center;
                a {
                    color: #ffffff;
                }
            }
            &:before {
                transition: 0.3s;
                transition: 0.5s;
                content: "";
                display: block;
                height: 100%;
                width: 100%;
                background: rgba(44, 12, 17, 0);
            }
            &:hover .icons {
                bottom: 0;
                transition: 0.5s;
            }
            &:hover .title {
                top: 0;
                transition: 0.5s;
            }
            &:hover:before {
                background: rgba(89, 161, 62, 0.8);
            }
            &--swimming {
                background: url('../img/projects/swimming/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--dentysta {
                background: url('../img/projects/dentysta/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--boilerplate {
                background: url('../img/projects/boilerplate/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--aframe {
                background: url('../img/projects/aframe/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--landing {
                background: url('../img/projects/landing/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--nutricus {
                background: url('../img/projects/nutricus/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--panelnutricus {
                background: url('../img/projects/panelnutricus/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--athlestat {
                background: url('../img/projects/athlestat/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--dermashop {
                background: url('../img/projects/dermashop/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--ubezpieczenia {
                background: url('../img/projects/ubezpieczenia/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--starachowicka {
                background: url('../img/projects/starachowicka/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--magazynpoc {
                background: url('../img/projects/magazynpoc/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--klucze {
                background: url('../img/projects/klucze/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--aiesec {
                background: url('../img/projects/aiesec/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--promoplatform {
                background: url('../img/projects/promoplatform/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
            &--regaly {
                background: url('../img/projects/regaly/thumb.jpg');
                background-position: top;
                background-size: cover;
            }
        }
    }
    
    .realization {
        .learning__stage__list {
            font-size: 1.2em;
        }
        .section__title {
            margin: 0 0 0.5em;
        }
        p {
            font-size: 1.2em;
        }
        &__header {
            text-align: center;
            padding: 1em;
        }
    }
    
    @keyframes phone {
        from {
            border: 2em solid #3c3c3e;
            max-width: 100%;
        }
        to {
            border-top: 3em;
            border-bottom: 3.5em;
            border-left: 0.7em;
            border-right: 0.7em;
            border-color: #3c3c3e;
            border-style: solid;
            border-radius: 1em;
            max-width: 15em;
        }
    }
    
    @keyframes screen {
        from {
            border-top: 3em;
            border-bottom: 3.5em;
            border-left: 0.7em;
            border-right: 0.7em;
            border-color: #3c3c3e;
            border-style: solid;
            border-radius: 1em;
            max-width: 15em;
        }
        to {
            border: 2em solid #3c3c3e;
            max-width: 100%;
        }
    }
    
    @keyframes phone-before {
        from {
            width: 10em;
            height: 4em;
            background: #bebfc1;
            bottom: -6em;
        }
        to {
            width: 4em;
            height: 0.2em;
            background: #232731;
            top: -1.6em;
        }
    }
    
    @keyframes phone-after {
        0% {
            width: 15em;
            height: 0.8em;
            background: #d3d4d6;
            bottom: -6em;
            border-radius: 0;
        }
        90% {
            width: 15em;
            height: 0.8em;
            background: #d3d4d6;
            bottom: 0;
            border-radius: 0;
            opacity: 0;
        }
        100% {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background: #505053;
            bottom: -2.7em;
            opacity: 1;
        }
    }
    
    .screen {
        font-size: 0.5em;
        @include rwd(small) {
            font-size: 0.7em;
        }
        @include rwd(medium) {
            font-size: 1em;
        }
        border: 2em solid #3c3c3e;
        border-radius: 1em;
        margin: 0 auto 4em;
        position: relative;
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -6em;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            width: 10em;
            height: 4em;
            background: #bebfc1;
        }
        &:after {
            width: 15em;
            height: 0.8em;
            background: #d3d4d6;
        }
        &.is-screen {
            animation-name: screen;
            animation-duration: 2s;
        }
        &.is-phone {
            animation-name: phone;
            animation-duration: 2s;
            font-size: 1em;
            border-top: 3em;
            border-bottom: 3.5em;
            border-left: 0.7em;
            border-right: 0.7em;
            border-color: #3c3c3e;
            border-style: solid;
            border-radius: 1em;
            max-width: 15em;
            &:before {
                animation-name: phone-before;
                animation-duration: 2s;
                width: 4em;
                height: 0.2em;
                background: #232731;
                top: -1.6em;
            }
            &:after {
                animation-name: phone-after;
                animation-duration: 2s;
                width: 2em;
                height: 2em;
                border-radius: 50%;
                background: #505053;
                bottom: -2.7em;
            }
        }
    }
    /*
    .screen {
        font-size: 0.5em;
        @include rwd(small) {
            font-size: 0.7em;
        }
        @include rwd(medium) {
            font-size: 1em;
        }
        border: 2em solid #3c3c3e;
        border-radius: 1em;
        margin-bottom: 4em;
        position: relative;
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: -6em;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            width: 10em;
            height: 4em;
            background: #bebfc1;
        }
        &:after {
            width: 15em;
            height: 0.8em;
            background: #d3d4d6;
        }
    }
    
    .phone-screen {
        border-top: 3em;
        border-bottom: 3.5em;
        border-left: 0.7em;
        border-right: 0.7em;
        border-color: #3c3c3e;
        border-style: solid;
        border-radius: 1em;
        margin-bottom: 4em;
        max-width: 15em;
        margin: 0 auto;
        position: relative;
        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &:before {
            width: 4em;
            height: 0.2em;
            background: #232731;
            top: -1.6em;
        }
        &:after {
            width: 2em;
            height: 2em;
            border-radius: 50%;
            background: #505053;
            bottom: -2.7em;
        }
    }

*/