/*=============================================
Home
=============================================*/

.about {
    font-size: 1.2rem;
    &__figure {
        margin: 0;
        text-align: center;
    }
}