/*=============================================
.alert Alerts
=============================================*/

.alert {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 4px;
    &--warning {
        border-color: #ebccd1;
        background-color: #f2dede;
        color: #a94442;
    }
    &--success {
        border-color: #d6e9c6;
        background-color: #dff0d8;
        color: #3c763d;
    }
}


/*=============================================
.btn Buttons
=============================================*/

.btn {
    cursor: pointer;
    display: block;
    margin: 2em auto 0;
    padding: 0.6em 1em;
    max-width: 12em;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        text-decoration: none;
    }
    &--fill {
        border: 1px solid $brand-color-2;
        background: $brand-color-2;
        color: #fff;
        &:hover,
        &:focus,
        &:active {
            border: 1px solid #fff;
            background: transparent;
        }
    }
    &--transparent {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        text-shadow: 0 0 4px #000000;
        &:hover,
        &:focus,
        &:active {
                    text-shadow: none;
            border: 1px solid $brand-color-1;
            background: $brand-color-1;
        }
    }
    &--pink {
        border: 1px solid $brand-color-1;
        background: transparent;
        color: $brand-color-1;
        &:hover,
        &:focus,
        &:active {
            border: 1px solid $brand-color-1;
            background: $brand-color-1;
            color: #fff;
        }
    }
}


/*=============================================
Section title
=============================================*/

.section__title {
    text-align: center;
    font-size: 2.5em;
    &:after {
        display: block;
        margin: 1.25rem auto;
        max-width: 11rem;
        height: 3px;
        background-color: $brand-color-1;
        color: $brand-color-1;
        content: " ";
    }
}

/*=============================================
Scrollbar
=============================================*/

::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-thumb {
    background-color: $brand-color-1;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darken($brand-color-1, 10%);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}