/*=============================================
Projects
=============================================*/

.projects {
  background: #ffffff;
  padding: 2em 1em 0;
}

.projects__element {
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  justify-content: center;
}