/*=============================================
Base
=============================================*/


/**
 * Set up a decent box model on the root element
 */

html {
    box-sizing: border-box;
    color: $text-color;
}

a, button {
    transition: 0.3s;
    text-decoration: none;
    &:hover {
        transition: 0.5s;
        
    }
}

a {
    color: $brand-color-1;
    &:hover {
        color: $brand-color-2;
    }
}

button {
    cursor: pointer;
    outline: none;
    &:active {
         outline: none;   
    }
}

picture {
    text-align: center;
}