/*=============================================
Cookies
=============================================*/

#cookies-message {
    position: fixed;
    bottom: 0px;
    z-index: 99999;
    padding: 10px 0px;
    width: 100%;
    background-color: #efefef;
    text-align: center;
    font-size: 0.9rem;
    a {
        display: inline-block;
        margin-left: 10px;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: $brand-color-1;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
    }
}