/*=============================================
.alert Alerts
=============================================*/

.alert {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid transparent;
    border-radius: 4px;
    &--warning {
        border-color: #ebccd1;
        background-color: #f2dede;
        color: #a94442;
    }
    &--success {
        border-color: #d6e9c6;
        background-color: #dff0d8;
        color: #3c763d;
    }
}


/*=============================================
.btn Buttons
=============================================*/

.btn {
    cursor: pointer;
    display: block;
    display: block;
    margin: 0.5em auto;
    padding: 0.6em 1em;
    max-width: 12em;
    border-radius: 0px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        text-decoration: none;
    }
    &--fill {
        border: 1px solid $brand-color-2;
        background: $brand-color-2;
        color: #fff;
        &:hover,
        &:focus,
        &:active {
            border: 1px solid #fff;
            background: transparent;
        }
    }
    &--transparent {
        border: 1px solid #fff;
        background: transparent;
        color: #fff;
        text-shadow: 0 0 4px #000000;
        &:hover,
        &:focus,
        &:active {
            text-shadow: none;
            border: 1px solid $brand-color-1;
            background: $brand-color-1;
        }
    }
    &--green-t {
        border: 1px solid $brand-color-1;
        background: transparent;
        color: $brand-color-1;
        &:hover,
        &:focus,
        &:active {
            border: 1px solid $brand-color-1;
            background: $brand-color-1;
            color: #fff;
        }
    }
    &--green {
        border: 1px solid $brand-color-1;
        background: $brand-color-1;
        color: #fff;
        &:hover,
        &:focus,
        &:active {
            border: 1px solid $brand-color-1;
            background: transparent;
            color: $brand-color-1;
        }
    }
    &--pink-t {
        border: 1px solid $brand-color-2;
        background: transparent;
        color: $brand-color-2;
        &:hover,
        &:focus,
        &:active {
            border: 1px solid $brand-color-2;
            background: $brand-color-2;
            color: #fff;
        }
    }
    &--pink {
        border: 1px solid $brand-color-2;
        background: $brand-color-2;
        color: #fff;
        &:hover,
        &:focus,
        &:active {
            border: 1px solid $brand-color-2;
            background: transparent;
            color: $brand-color-2;
        }
    }
}


/*=============================================
icons
=============================================*/

.icon {
    display: block;
    border: none;
    margin: 0 auto;
    text-indent: -9000px;
    transition: 0.4s;
    width: 2em;
    height: 2em;
    &:hover {
        transition: 0.2s;
        transform: scale(1.3, 1.3);
    }
    &--phone {
        background: url('../img/icons/main_icons.svg');
        background-size: auto 100%;
        background-position: 5em 0;
    }
    &--vr {
        background: url('../img/icons/main_icons.svg');
        background-size: auto 100%;
        background-position: 4.5em 0;
    }
    &--mail {
        background: url('../img/icons/main_icons.svg');
        background-size: auto 100%;
        background-position: 4em 0;
    }
    &--arrow {
        background: url('../img/icons/main_icons.svg');
        background-size: auto 100%;
        background-position: 0 0;
    }
    &--link {
        background: url('../img/icons/main_icons.svg');
        background-size: auto 100%;
        background-position: 4em 0;
    }
    &--more {
        background: url('../img/icons/main_icons.svg');
        background-size: auto 100%;
        background-position: 2em 0;
    }
    &--facebook {
        background: url('../img/icons/social_icons.svg');
        background-size: auto 100%;
    }
    &--linkedin {
        background: url('../img/icons/social_icons.svg');
        background-size: auto 100%;
        background-position: 2em 0;
    }
    &--github {
        background: url('../img/icons/social_icons.svg');
        background-size: auto 100%;
        background-position: 4em 0;
    }
    &--bootstrap {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 10em 0;
    }
    &--css3 {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 22em 0;
    }
    &--html {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 24em 0;
    }
    &--js {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 20em 0;
    }
    &--git {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 14em 0;
    }
    &--gulp {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 12em 0;
    }
    &--jquery {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 18em 0;
    }
    &--mysql {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 2em 0;
    }
    &--ps {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 6em 0;
    }
    &--php {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 4em 0;
    }
    &--sass {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 16em 0;
    }
    &--wp {
        background: url('../img/icons/skills_icons.svg');
        background-size: auto 100%;
        background-position: 8em 0;
    }
}


/*=============================================
Scrollbar
=============================================*/

::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-thumb {
    background-color: $brand-color-1;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darken($brand-color-1, 10%);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}