button {
  cursor: pointer;
  outline: none;
  &:active {
    outline: 1px solid $brand-color-2;
  }
}

.btn {
  cursor: pointer;
  display: block;
  margin: 0.5em auto;
  padding: 0.6em 1em;
  max-width: 12em;
  border-radius: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.btn--default {
  border: 1px solid $brand-color-2;
  color: $brand-color-2;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $brand-color-2;
    background: $brand-color-2;
    color: #fff;
  }
}

.btn--default-fill {
  background: $brand-color-2;
  color: #fff;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid darken($brand-color-2, 10%);
    background: darken($brand-color-2, 10%);
    color: #fff;
  }
}

.btn--primary {
  border: 1px solid $brand-color-1;
  color:  $brand-color-1;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $brand-color-1;
    background: $brand-color-1;
    color: #fff;
  }
}

.btn--primary-fill {
  background: $brand-color-1;
  color:  #fff;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid darken($brand-color-1, 10%);
    background:  darken($brand-color-1, 10%);
    color: #fff;
  }
}

.btn--secondary {
  border: 1px solid #fff;
  color:  #fff;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid darken($brand-color-1, 10%);
    background:  darken($brand-color-1, 10%);
    color: #fff;
  }
}