.layer {
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  width: 120%;
  height: 100%;
  transform: translateX(-10%);
  position: absolute;
  @include rwdmax(medium) {
    transform: translateX(-10%) !important;
  }
}

.layer--0 {
  @include layer("lay0.png");
  &:before {
    content: " ";
    position: absolute;
    background: #ffffff;
    opacity: 0.15;
    width: 200px;
    height: 1000px;
    transform: rotate(-45deg);
    top: 0;
    left: 15%;
    z-index: 0;
  }
}

.layer--1 {
  @include layer("lay1.svg");
}

.layer--2 {
  @include layer("lay2.svg");
}

.layer--3 {
  @include layer("lay3.svg");
}

.layer--4 {
  @include layer("lay4.svg");
}

.layer--5 {
  @include layer("lay5.svg");
}