.layer {
  transition: 0.5s ease-out;
  width: 120%;
  height: 100%;
  transform: translateX(-10%);
  position: absolute;
}

.layer--gradient {

}

.layer--hidden {
  //opacity: 0;
}

.layer__glass {
  background: #ffffff;
  opacity: 0.15;
  width: 200px;
  height: 1000px;
  transform: rotate(-45deg);
  margin: -200px 400px;
}

.layer--0 {
  @include layer("lay0.png");
}

.layer--1 {
  @include layer("lay1.svg");
}

.layer--2 {
  @include layer("lay2.svg");
}

.layer--3 {
  @include layer("lay3.svg");
}

.layer--4 {
  @include layer("lay4.svg");
}

.layer--5 {
  @include layer("lay5.svg");
}