.layer {
  transition: 0.5s ease-out;
  width: 120%;
  height: 100%;
  transform: translateX(-10%);
  position: absolute;
}

.layer--gradient {
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
}

.layer--hidden {
  //opacity: 0;
}

.layer__glass {
  background: #ffffff;
  opacity: 0.15;
  width: 200px;
  height: 1000px;
  transform: rotate(-45deg);
  margin: -200px 400px;
}

#layer0 {
  @include layer("lay0.png");
}

#layer1 {
  @include layer("lay1.svg");
}

#layer2 {
  @include layer("lay2.svg");
}

#layer3 {
  @include layer("lay3.svg");
}

#layer4 {
  @include layer("lay4.svg");
}

#layer5 {
  @include layer("lay5.svg");
}