.project {
margin-bottom: 25px;
}

.project__thumbnail {
  padding: 15px;
  border: 1px solid darken($light-grey, 10%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__thumbnail--portfolio {
  background: url('../img/projects/portfolio.jpg');
  background-position: center;
  background-size: cover;
}

.project__thumbnail--starter {
  background: url('../img/projects/starter.jpg');
  background-position: center;
  background-size: cover;
}

.project__thumbnail--youtube {
  background: url('../img/projects/youtube.jpg');
  background-position: center;
  background-size: cover;
}

.project__title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}

.project__subtitle {
  text-align: center;
}

.project__subtitle-technologies {
  color: $mid-grey;
  display: block;
}