.skills {
  @include row();
  padding-top: 50px;
}

.skills__section {
margin: 15px 0;
}

.skill-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.skill-list__element {
  background-color: $light-grey;
  padding: 5px 20px;
  margin: 3px;
  border-radius: 15px;
}