.footer {
  padding-top: 2rem;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  background-color: #212121;
}

.footer__contact {
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.5em;
}

.footer__contact-element {

}

.footer__social {
  padding: 0;
}

.footer__icon {
  display: inline-block;
  min-width: 4em;
  padding: 0.5em;
}

.footer__copy {
  position: relative;
  background: $brand-color-1;
  padding: 1.5em;
}

.footer__top {
  position: absolute;
  top: -1.5em;
  right: 2em;
  padding: 0.7em;
  border-radius: 50%;
  background: $brand-color-2;
  border: none;
}