.learning {
  background: #59a13e;
  color: #ffffff;
}

.learning__stage {
  text-align: center;
}

.learning__list {
  display: flex;
  padding-left: 0;
  list-style: none;
  flex-wrap: wrap;
  justify-content: stretch;
}

.learning__list-element {
  font-size: 1.2em;
  margin: 0.2em;
  padding: 0.3em 0.6em;
  border: 1px solid #ffffff;
  flex: 1 auto;
}
