.portfolio {
  background: #ededed;
  padding: 2em 1em 0;
}

.portfolio__container {
  display: flex;
  margin-top: 3em;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__element {
  position: relative;
  overflow: hidden;
  margin-bottom: 1em;
  height: 10em;
  font-size: 1.5em;
  opacity: 1;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  flex-basis: 100%;
  @include rwd(small) {
    flex-basis: 48%;
  }
  @include rwd(medium) {
    flex-basis: 23%;
  }
  @include rwd(large) {
    flex-basis: 18%;
  }
  &:before {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(44, 12, 17, 0);
    content: "";
    transition: 0.3s;
  }
}

.portfolio__element--swimming {
  background: url('../img/projects/swimming/thumb.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--dentysta {
  background: url('../img/projects/dentysta/thumb.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--boilerplate {
  background: url('../img/projects/boilerplate/thumb.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--nutricus {
  background: url('../img/projects/nutricus/thumb.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--athlestat {
  background: url('../img/projects/athlestat/thumb.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--dermashop {
  background: url('../img/projects/dermashop/thumb.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--starachowicka {
  background: url('../img/projects/starachowicka/thumb.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--aiesec {
  background: url('../img/projects/aiesec/thumb.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__elemen-title {

}

.portfolio__elemen-desc {

}

.portfolio__elemen-date {

}