.portfolio {
  background: #ededed;
}

.portfolio__container {
  display: flex;
  margin-top: 3em;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__element {
  position: relative;
  overflow: hidden;
  height: 250px;
  opacity: 1;
  width: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: none;
  @include rwd(small) {
    width: 50%;
  }
  @include rwd(medium) {
    width: 25%;
  }
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(89, 161, 32, 0);
    content: "";
    transition: background-color 0.3s;
  }
}

.portfolio__element:hover {
  color: #ffffff;
  &:before {
    background-color: rgba(89, 161, 32, 1);
  }
  .portfolio__element-content {
    opacity: 1;
  }
}

.portfolio__element-content {
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}


.portfolio__element-title {
  font-size: 1.5rem;
}

.portfolio__element-desc {
  font-size: 1.2rem;
  width: 100%;
}

.portfolio__element-date {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.portfolio__element--pokaz {
  background: url('../img/projects/pokazslajdow.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--swimming {
  background: url('../img/projects/swimming.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--dentysta {
  background: url('../img/projects/dentysta.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--nutricus {
  background: url('../img/projects/nutricus.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--athlestat {
  background: url('../img/projects/athlestat.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--dermashop {
  background: url('../img/projects/dermashop.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--starachowicka {
  background: url('../img/projects/starachowicka.jpg');
  background-position: top;
  background-size: cover;
}

.portfolio__element--aiesec {
  background: url('../img/projects/aiesec.jpg');
  background-position: top;
  background-size: cover;
}

