.section {}

.section--gray {
  background: $light-grey;
}

.section--padding {
  padding: 2em 0 3em;
  @include rwd(small) {
    padding: 4em 0 6em;
  }
}

.section--padding-top {
  padding-top: 2em;
  @include rwd(small) {
    padding-top: 4em;
  }
}

.section--padding-small {
  padding: 2em 0 3em;
}

.section__title {
  text-align: center;
  &:after {
    display: block;
    margin: 1.25rem auto;
    max-width: 5rem;
    height: 2px;
    background-color: $brand-color-1;
    color: $brand-color-1;
    content: " ";
  }
}

.section__subtitle {
  text-align: center;
  padding: 0 1rem;
}
