h1, h2, h3, h4, h5, h6 {
  font-size: rem($base-font-size);
  margin: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'lato', sans-serif;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.h1 {
  font-size: 4rem;
}

.h2 {
  font-size: 3rem;
}

.h3 {
  font-size: 2rem;
}

.h4 {
  font-size: 1rem;
}
