/*
a
a:hover
 */

a, button {
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  text-decoration: none;
}

a {
  color: $brand-color-1;
  &:hover {
    color: $brand-color-2;
  }
}
